<div class="booyah-box" id="hero">
  HOLY COW!
  <br />
  <p>
    This is a simple web app with a simple purpose - view facts / add facts / rate facts.
  </p>
</div>

<div class="row">

  <div class="col feature booyah-box">
    <p>
      If a fact is interesting then hit it with a HOLY COW!
    </p>
    <i class="fa-circle-thin fa-4x" style="color:#f7e411;"></i>
  </div>

  <div class="col feature booyah-box">
    <% if current_user %>
      <%= link_to 'View Facts', facts_path, class: 'btn btn-success' %> <%= link_to 'Add a Fact!', new_fact_path, class: 'btn btn-success' %>
    <% else %>
      Please <%= link_to "Sign In", new_user_session_path %>
      or <%= link_to "Sign Up", new_user_registration_path %>
      to view or add facts!
    <% end %>
  </div>

  <div class="col feature booyah-box">
    <p>
    If a fact is pretty lame then hit it with a COWPIE!
    </p>
    <i class="fas fa-poo fa-3x"></i>
  </div>

</div>